<%= javascript_include_tag 'slack' %>

<div class="container col-lg-12" id="chat">
  <div class="col-lg-3" id="channels">
    <h3>Channels</h3>
  </div>
  <div class="col-lg-9" id="messages">
  </div>
</div>
