<%= javascript_include_tag 'slack' %>

<div class="container col-lg-12" id="chat">
  <div class="col-lg-3" id="channels">
    <h2 id="channels_header" class="hoverable overflow-ellipsis">Channels</h2>
    <ul id="channel-list">
      <li class="channel_C02AMMPTK channel ">
        <a href="/archives/agilebot-testing" target="new_1401509727075" class="channel_name" data-channel-id="C02AMMPTK">
          <span class="unread_just_C02AMMPTK unread_just hidden">
            0
          </span>
          <span class="unread_highlight_C02AMMPTK unread_highlight hidden">
            0
          </span>
          <span class="overflow-ellipsis">

            <span class="prefix">#</span>
            agilebot-testing
          </span>
        </a>
      </li>

      <li class="channel_C02AA47UK channel ">
        <a href="/archives/autograders" target="new_1401509727075" class="channel_name" data-channel-id="C02AA47UK">
          <span class="unread_just_C02AA47UK unread_just hidden">
            0
          </span>
          <span class="unread_highlight_C02AA47UK unread_highlight hidden">
            0
          </span>
          <span class="overflow-ellipsis">

            <span class="prefix">#</span>
            autograders
          </span>
        </a>
      </li>

      <li class="channel_C02AHEA5P channel ">
        <a href="/archives/betasaasers" target="new_1401509727075" class="channel_name" data-channel-id="C02AHEA5P">
          <span class="unread_just_C02AHEA5P unread_just hidden">
            0
          </span>
          <span class="unread_highlight_C02AHEA5P unread_highlight hidden">
            0
          </span>
          <span class="overflow-ellipsis">

            <span class="prefix">#</span>
            betasaasers
          </span>
        </a>
      </li>

      <li class="channel_C0297TUQC channel ">
        <a href="/archives/codealia" target="new_1401509727075" class="channel_name" data-channel-id="C0297TUQC">
          <span class="unread_just_C0297TUQC unread_just hidden">
            0
          </span>
          <span class="unread_highlight_C0297TUQC unread_highlight hidden">
            0
          </span>
          <span class="overflow-ellipsis">

            <span class="prefix">#</span>
            codealia
          </span>
        </a>
      </li>

      <li class="channel_C02AD0LG0 channel ">
        <a href="/archives/educhat" target="new_1401509727075" class="channel_name" data-channel-id="C02AD0LG0">
          <span class="unread_just_C02AD0LG0 unread_just hidden">
            0
          </span>
          <span class="unread_highlight_C02AD0LG0 unread_highlight hidden">
            0
          </span>
          <span class="overflow-ellipsis">

            <span class="prefix">#</span>
            educhat
          </span>
        </a>
      </li>

      <a class="channel-list-create list_more">Create a channel...</a>
    </ul>
    <div class="clear-both"></div>

  </div>
  <div class="col-lg-9" id="messages"></div>
</div>
